$primaryBackground: #000030;
$secondaryBackground: #FFFFFF;
$primaryText: #FFFFFF;
$grayBackground : #D9D9D9;
$studioBackground : #654664;
$primaryLightBackground: #00003096;
$lightPrimaryBg: #15CAF7;
$scrollbar:#FFB800;
